## Test results

|Test  | CPU time| GPU time |
|------|---------|---------|
|easy.test|0.036ms|539ms|
|hard.test|5ms|529ms|
|anti-bruteforce.test|14s|2s|
|anti-bruteforce2.test|260s|3s|
|no-solution.test|516s|14s|

## Test hardware
- GPU - NVidia TU104GL (gpunode3)
- CPU - Ryzen 5 5600X (my computer)